@page "{id:int?}/{name:alpha:minlength(3)?}/{age:int?}" 
<!-- Ограничения параметров -->
@model Layout.Pages.PersonModel
@{
    ViewData["Title"] = "Ввод данных";
}

Hello from Person page

<h2>@Model.Message</h2>
<p><a href="Person?name=Tom&age=35">With parameters Name and Age</a></p>

<form method="post">
    @Html.AntiForgeryToken()
    <label for="name">Имя</label><br />
    <input type="text" name="name" value="Aladin" /><br />
    <br />

    <label for="age">Возраст</label><br />
    <input type="number" name="age" value="20" /><br />
    <br />

    <input type="submit" value="Отправить" />
</form>

<p>Show model values</p>
<p>Id = @Model.Id</p>
<p>Id = @Model.Id</p>
<p>Name = @Model.Person.Name</p>
<p>Age = @Model.Person.Age</p>